@import "../../colors.scss";
.revert {
  width: 510px;
  font-family: $font;
  color: $color;
  line-height: 12px;
  padding: 8px;
  position: relative;
  top: 5px;
}
.text {
  margin-bottom: 8px;
  line-height: 18px;
  text-align: center !important;
}
.yes,
.no {
  cursor: pointer;
  padding: 0px 8px;
  transition: 0.2s all;
  line-height: 23px;

  &:hover {
    transform: scale(1.1);
  }
}
.answers {
  display: flex;
  justify-content: center;
}
.yes {
  margin: 0px 10px;
  color: $main;
}
.no {
  color: $color;
}
